priority -50

snippet puf "public function" b
public function ${1}(${2})
{
	${3}
}
endsnippet

snippet prf "private function" b
private function ${1}(${2})
{
	${3}
}
endsnippet

snippet test "test function" b
public function test${1}()
{
	${2}
}
endsnippet
